
* {
    user-select: none;
}



body.dark-mode {
    background: #F8F8F9;

}

body.dark-mode p {
    color: #0e0e0e}

body.dark-mode {
    .header {
        background:#F8F8F9;
        color:black;
        border-right: 1px solid rgba(5, 5, 5, 0.171);

        .container {
            .header-line {
                .logo {
                    background: rgba(233, 215, 202, 0.952);

                }
                .navbar ul{
                    background: rgba(233, 215, 202, 0.952);

                    a {
                        color:black;
                    }
                    span {
                        color:black;

                    }
                }
                .post {
                    background: rgba(233, 215, 202, 0.852);

                    .block{
                        button#mBtn {
                            color:black;
                        }
                    }
                    span {
                        color:black;

                    }
                }
                .auth {
                    background: rgba(233, 215, 202, 0.752);
                    .auth-name {
                        p {
                            color:black;
                        }
                    }
                    .log {
                        a {
                            color:black;
                        }
                    }
                    span {
                        color:black;

                    }
                    .light {
                        button {
                            border: none;
                            font-family: "Jost";
                            background: none;
                            color:rgb(0, 0, 0);
                            font-size: 17px;
                            padding-left: 0;
                            transition: 300ms;
                        }
                        button:hover {
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
    .header-r {
        background:#F8F8F9;
        color:black;
        border-left: 1px solid rgba(5, 5, 5, 0.171);
        
        .container {
            .header-line {
                .title-n {
                    background: rgba(141, 119, 103, 0.952);
                }
                .rules ul {
                    background: rgba(233, 215, 202, 0.952);
                    li {
                        a {
                            color:black;
                        }
                    }
                }
                .post {

                    .blocks {
                        background: rgba(233, 215, 202, 0.952);

                    .title-n {
                        background-color: rgba(141, 119, 103, 0.952);
                        
                    }
                    .mine {
                        a {

                            color:black;

                        }
                        p {
                            color: black;
                        }
                    }
                    }
                }
                .auth {
                    background: rgba(233, 215, 202, 0.952);
                    p {
                        color:black;
                    }
                }
            }
        }
    }
    .search-div {
        span {
            color:black;
        }
        input {
            background: rgb(236, 225, 217);
            color: rgb(8, 8, 8);
            border: none;
        }
        input::placeholder {
            color:black;
        }
    }
    .main {
        .block-post {
            .show-block {
                background: rgba(233, 215, 202, 0.752);
                border: 2px solid rgb(223, 199, 182);
                .upper {
                    .left {
                        p {
                            color:black;
                        }
                    }
                }
                h3 {
                    color:black;    
                }
                p {
                    color:black;    
                }
                .m {
                    p {
                        color:rgb(29, 29, 29);
                    }
                }

            }
            .comments {
                .comment {
                    .comment-block {
                        border: 1px solid rgb(223, 199, 182);

                        span {
                            color:black;
                        }
                        p {
                            color:black;
                        }
                    
                    }
                }
                .txt {
                    background-color: rgba(224, 197, 177, 0.548);
                    border: none;
                    resize: none;
                    color:black;
                }
                textarea:focus {
                    outline-color: rgb(155, 153, 22);
                    outline: 1.4px solid rgb(231, 201, 118);
                }
                textarea::placeholder {
                    color:black;
                }
                button {
                    background-color: white;
                    border: 1px solid rgb(223, 199, 182);
                    color:black
                }
            }
        }

    .blocks {
        .block {
            
            background: rgb(223, 199, 182);
            h3 {
                color:black;
            }
            p {
                color:black;
            }
            .m {
                p {
                    color:black;
                }
            }
        }
    }
}}






    
body {
    font-family: "Manrope";
    color:#dddddd;
    background-color: #181a1b;
    overflow: hidden;
    padding-bottom: 150px;
    margin-bottom: 1000px;
    position: relative;
    .header {
        border-right: 1px solid rgb(109, 109, 109);
        width: 20%;
        height: 100%;
        padding-right: 10px;
        position: fixed;
        z-index: 999;
        font-family: "Jost";
         background-color: #181a1b;
        .container {

            .header-line {
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 1; 
                -webkit-box-orient: vertical;
                overflow: hidden;
                .logo {
                    padding-top: 10px;
                    margin-top: 5px;
                    border-radius: 30px;
                    background-color: #151616;
                    padding-left: 23px;
                    padding-bottom: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    
                    a {
                        text-decoration: none;
                        color:rgb(224, 224, 224);
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        color:rgb(255, 255, 255)
                    }
                    img {
                        margin-right: 10px;
                        width: 45px;
                    }

                }
                .navbar ul{
                    display: block;
                    text-align: left;
                    padding-left: 45px;
                    background-color: #151616;
                    border-radius: 30px;
                    padding-top: 10px;
                    padding-bottom: 20px;

                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        margin-top: 8px;
                        a {
                            text-decoration: none;
                            color:rgb(224, 224, 224);
                            font-size: 17px;

                            transition: 300ms;

                        }
                        span {
                            margin-right: 20px;
                        }

                    }
                    a:hover {
                        transform: scale(1.15);
                    } 

                }
                .post {
                    padding-top: 10px;
                    border-radius: 30px;
                    margin-bottom: 16px;
                    background-color: #151616;
                    padding-left: 45px;
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color:rgb(199, 199, 199);
                        font-size: 17px;
                        transition: 300ms;

                    }
                    span {
                        margin-right: 20px;
                    }
                    a:hover {
                        transform: scale(1.15);
                    } 
                    .block {
                        
                        button#mBtn {
                            border: none;
                            font-family: "Jost";
                            background: none;
                            color:rgb(224, 224, 224);
                            font-size: 17px;
                            padding-left: 0;
                            transition: 300ms;
                        }
                        button#mBtn:hover {
                            transform: scale(1.15);
                        }
                        .modal {
                            left:0;
                            z-index: 1000;
                            top: 0;
                            display: none;
                            position: fixed;
                            overflow: hidden;
                            background-color: rgba(0, 0, 0, 0.8);
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            animation: move 1s;
        
                        }
                        @keyframes move {
                            0% {opacity: 0;}
                        }
        
        
                        
                        .modal-content {
                            animation: fade 10s ease-in;
                            background-color: #181a1b;
                            padding: 20px;
                            margin: 15% auto;
                            width: 30%;
                            border-radius: 20px;
                            color:black;
                            height: 350px;
                            .c {
                                margin-bottom: 0px;
                                color:rgba(230, 230, 230, 0.623);
                                font-size: 36px;
                                display: flex;
                                justify-content: end;
                                span {
                                    margin-right: 0;
                                    
                                }
                            }
                            .content {

                                .content-form {
                                    
                                    .user {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 15px;
                                        font-family: "Manrope";
                                        .slc {
                                            font-family: "Manrope";
                                            background: #22211d;
                                            color:white;
                                            border-radius: 10px;
                                            padding-left: 4px;
                                        }
                                        span {
                                            color:rgb(226, 226, 226);
                                            margin-right: 5px;
                                        }

                                        input {
                                            padding-left: 15px;
                                            width: 66%;
                                            margin-left: 20px;
                                            height: 13px;
                                        }
                                    }
                                    input {
                                        width: 400px;
                                        border-radius: 10px;
                                        padding: 5px;
                                        padding-left: 20px;
                                        font-family: "Manrope";
                                        border: 1px solid gray;
                                        outline-color: none;
                                        background: #22211d;
                                        color:white;
                                        
                                    }
                                    input::placeholder {
                                        color:rgb(175, 175, 175);
                            
                                    }
                                    input:focus {
                                        outline-color: gray;
                                        outline: 1.4px solid gray;
                                    }
                                    .c-text {
                                        overflow: auto;
                                        resize: none;
                                        width: 97%;
                                        border-radius: 10px;
                                        padding: 5px;
                                        padding-left: 10px;
                                        font-family: "Manrope";
                                        border: 1px solid gray;
                                        outline-color: none;
                                        background: #22211d;
                                        color:white;
                                        
                                    }
                                    textarea::placeholder {
                                        color:rgb(175, 175, 175);
                            
                                    }
                                    textarea:focus {
                                        outline-color: gray;
                                        outline: 1.4px solid gray;
                                    }
                                    ::-webkit-scrollbar {
                                        width: 10px;
                                        border-radius: 30px;
                                      }
                                      
                                      ::-webkit-scrollbar-track {
                                        background: #6b6a6a;
                                        border-radius: 10px;

                                      }
                                      
                                      ::-webkit-scrollbar-thumb {
                                        background: #888;
                                        border-radius: 10px;


                                      }
                                      
                                      ::-webkit-scrollbar-thumb:hover {
                                        background: #555;
                                      }
                                    button {
                                        margin-top: 10px;
                                        font-family: "Manrope";
                                        border-radius: 10px;
                                        border: 1px solid gray;
                                        color:white;
                                        background-color: #22211d;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        transition: 300ms;
                                    }
                                    button:hover {
                                        color: rgb(75, 165, 105);
                                    }
                                }
                            }
                        }
                    }

                }

                .auth {
                    padding-top: 10px;
                    border-radius: 30px;
                    height: 100vh;
                    background-color: #151616;
                    padding-left: 45px;
                    .auth-name {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .block {
                            button#mBtn {
                                border: none;
                                font-family: "Jost";
                                background: none;
                                color:rgb(224, 224, 224);
                                font-size: 17px;
                                padding-left: 0;
                                transition: 300ms;
                            }
                            button#mBtn:hover {
                                transform: scale(1.15);
                            }
                            .modal {
                                left:0;
                                z-index: 3;
                                top: 0;
                                display: none;
                                position: fixed;
                                overflow: hidden;
                                background-color: rgba(0, 0, 0, 0.8);
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                animation: move .3s;
            
                            }
                            @keyframes move {
                                0% {opacity: 0;}
                            }
            
            
                            
                            .modal-content {
                                animation: fade 10s ease-in;
                                background-color: #181a1b;
                                padding: 20px;
                                margin: 15% auto;
                                width: 70%;
                                height: 40%;
                                border-radius: 20px;
                                color:black;
                                padding-bottom: 8z0px;
                                .c {
                                    margin-bottom: 0px;
                                    color:rgba(255, 255, 255, 0.795);
                                    font-size: 36px;
                                    display: flex;
                                    justify-content: end;
                                    
                                    span {
                                        margin-right: 0;
                                        margin-bottom: 16px;
                                    }
                                }
                                .content {
                                    display: flex;
                                    justify-content: space-around;
                                    .left-side {
                                        width: 40%;
                                        word-wrap: break-word;
                                        text-align: left;
                                        font-family: "Manrope";
                                        .u-side {
                                            font-size: 30px;
                                            width: 500px;
                                        }
                                    }
                                    .content-form {
                                        .tools {
                                            display: flex;
                                            align-items: center;
                                            margin-bottom: 70px;
                                            justify-content: space-between;
                                            a {
                                                color:white;
                                                font-size: 20px;
                                                text-decoration: none;  
                                            }    
                                        }
                                        .user {
                                            display: flex;
                                            align-items: center;
                                            margin-bottom: 15px;
                                            font-family: "Manrope";

                                        }
                                        input {
                                            width: 400px;
                                            margin-bottom: 20px;
                                            padding: 5px;
                                            border: none;
                                            border-bottom: 1px solid white;
                                            font-family: "Manrope";
                                            outline-color: none;
                                            background: transparent ;
                                            color:white;
                                            font-size: 25px;
                                        }
                                        .checkbox {
                                            width: auto;
                                            font-size: 18px;
                                            color: black;
                                            
                                            accent-color: rgb(0, 0, 0);
                                        }
                                        
                                        .checkbox-span {
                                            font-size: 17px;

                                            color:rgb(192, 192, 192);
                                        }
                                        input::placeholder {
                                                color:rgb(194, 194, 194);
                                            font-size: 20px;
                                            font-family: "Jost";
                                            
                                        }
                                        
                                        input:focus {
                                            outline-color: rgb(240, 240, 240);
                                            outline: none
                                        }

                                        button {
                                            font-family: "Jost";
                                            border-radius: 10px;
                                            border: 1px solid gray;
                                            color:white;
                                            background-color: #22211d;
                                            padding-left: 10px;
                                            padding-right: 10px;    
                                            transition: 300ms;
                                            font-size: 17px;
                                        }
                                        button:hover {
                                            color: rgb(75, 165, 105);
                                        }
                                    }
                                }
                            }
                        }
                        .login {
                            margin: 0;
                            font-size: 17px;
                            color:rgb(224, 224, 224);
                            text-decoration: none;
                            transition: 300ms;
                        }
                        .login:hover {
                            color:rgb(98, 180, 218);
                        }
                        span {
                            margin-right: 20px;
                        }
                        p {
                            margin: 0;
                            font-size: 17px;
                            color:rgb(224, 224, 224);

                        }
                    }
                    .log {
                        margin-top: 8px;

                        form {
                            display: flex;
                            align-items: center;
                            span {
                                margin-right: 20px;
                            }
                            a {
                                text-decoration: none;
                                color:rgb(224, 224, 224);
                                font-size: 17px;
                                transition: 300ms;
                            }
                            a:hover {
                                color:rgb(161, 78, 78);
                            }
                        }

                    }
                    .light {
                        display: flex;
                        align-items: center;
                        span {
                            margin-right: 20px;
                        }
                        button {
                            border: none;
                            font-family: "Jost";
                            background: none;
                            margin-top: 5   px;
                            color:rgb(255, 255, 255);
                            font-size: 17px;
                            padding-left: 0;
                            transition: 300ms;
                        }
                        button:hover {
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
    .header-r {
        border-left: 1px solid rgb(109, 109, 109);
        width: 20%;
        position: fixed;
        top: 0;
        right: 0px;
        display: block;
        height: 100%;
        padding-left: 10px;
        font-family: "Jost";
         background-color: #181a1b;

        .container {

            .header-line {
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 1; 
                -webkit-box-orient: vertical;
                overflow: hidden;
                .logo {
                    padding-top: 10px;
                    margin-top: 5px;
                    border-radius: 30px;
                    background-color: #151616;
                    padding-left: 23px;
                    padding-bottom: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    
                    a {
                        text-decoration: none;
                        color:rgb(224, 224, 224);
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        color:rgb(255, 255, 255)
                    }
                    img {
                        margin-right: 10px;
                        width: 45px;
                    }

                }
                .title-n {
                    background-color: gray;
                    text-align: left;
                    padding-left: 15px;
                    margin-bottom: 0;                    
                }
                .rules ul{
                    margin-top: 0;
                    display: block;
                    text-align: left;
                    padding-left: 45px;
                    background-color: #151616;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 20px;
                    li {
                        color: white;
                        margin-top: 8px;
                        display: flex;
                        a {
                            text-decoration: none;
                            color:rgb(224, 224, 224);
                            font-size: 17px;

                            transition: 300ms;

                        }


                    }
                    a:hover {
                        transform: scale(1.05);
                    } 

                }
                .post {

                    display: flex;
                    align-items: center;
                    .blocks {
                        background-color: #151616;
                        padding-bottom: 0px;
                        width: 100%;
                        .title-n {
                            margin-top: 0;
                            background-color: gray;
                            text-align: left;
                            padding-left: 15px;
                            margin-bottom: 0;    
                        }
                        .mine {
                            padding-left: 45px;
                            p {
                                color: white;

                            }
                        }
                    }


                }

                .auth {
                    padding-top: 10px;
                    border-radius: 30px;
                    height: 80vh;
                    background-color: #151616;
                    padding-left: 45px;
                    .auth-name {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .block {

            
   
                        }
                        .login {
                            margin: 0;
                            font-size: 17px;
                            color:rgb(224, 224, 224);
                            text-decoration: none;
                            transition: 300ms;
                        }
                        .login:hover {
                            color:rgb(98, 180, 218);
                        }
                        span {
                            margin-right: 20px;
                        }
                        p {
                            margin: 0;
                            font-size: 17px;
                            color:rgb(224, 224, 224);

                        }
                    }
                    .log {
                        margin-top: 8px;

                        form {
                            display: flex;
                            align-items: center;
                            span {
                                margin-right: 20px;
                            }
                            a {
                                text-decoration: none;
                                color:rgb(224, 224, 224);
                                font-size: 17px;
                                transition: 300ms;
                            }
                            a:hover {
                                color:rgb(161, 78, 78);
                            }
                        }

                    }
                    .light {
                        display: flex;
                        align-items: center;
                        span {
                            margin-right: 20px;
                        }
                        button {
                            border: none;
                            font-family: "Jost";
                            background: none;
                            margin-top: 5   px;
                            color:rgb(255, 255, 255);
                            font-size: 17px;
                            padding-left: 0;
                            transition: 300ms;
                        }
                        button:hover {
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }

    .search-div {
        margin-bottom: 30px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            margin-right: 15px;
        }
        input {
            width: 400px;
            border-radius: 50px;
            padding: 5px;
            padding-left: 20px;
            font-family: "Manrope";
            border: 1px solid gray;
            outline-color: none;
            background: #22211d;
            color:white;
            
        }
        input::placeholder {
            color:rgb(175, 175, 175);

        }
        input:focus {
            outline-color: gray;
            outline: 1.4px solid gray;
        }
    }
    .main::-webkit-scrollbar {
        width: 0px;
    }

    .main {
        height: 99vh;
        overflow-y: auto;
        word-wrap: break-word;
        display: flex;
        justify-content: center;
        overflow-x: hidden;  
        .block-post {
            margin-top: 40px;
            width: 100vh;
            font-family: "Manrope";
            text-align: justify;


        
        .show-block {
            border: 1px solid white;
            padding: 20px;
            padding-left: 25px;
            padding-right: 25px;
            border-radius: 10px;
            .upper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid white;
                margin-bottom: 25px;
                .left {
                    .title {
                        margin-bottom: 10px;   
                    }
                    .tag {
                        color:rgb(155, 154, 154);
                        font-size: 14px;
                        margin-top: 0;
                        padding-top: 0;
                    }
                }
                .right {
                    margin-left: 50px;
                    
                }
            }
            .main-block {
                font-size: 16   px;
                color:rgb(194, 194, 194);
                margin-top: 5px;
                margin-bottom: 0;
                height: auto;
                text-align: justify;
            }
            .m {
                display: flex;
                .date {
                    color:rgb(155, 154, 154);
                    font-size: 14px;
                    margin-right: 20px;
                }


                
            }
            .type {
                margin-top: 0;
                color:rgb(245, 245, 245);
                font-size: 15px;
                text-align: right;
            }}

        } 
        
        .line{
            border-bottom: 1px solid rgb(122, 122, 122);
            padding-top: 20px;
            width: 100vh;
        }

        .comments {

            margin-top: 50px;
            .else-c {
                padding-bottom: 70px;

            }
            .p-title {
                font-size: 19px;
                color: #818181;
            }
            .comment {
                .comment-block {
                    border: none;
                    background-color: #ffffff0c;
                    margin-bottom: 30px;
                    border: 1px solid white;
                    padding: 20px;
                    padding-left: 25px;
                    padding-right: 25px;
                    border-radius: 10px;
                    .user {
                        display: flex;
                        align-items:center;
                        span {
                            font-size: 40px;
                            margin-right: 10px;
                            color:#d5d5d5
                        }
                        .user {
                               color:#d5d5d5;
                            font-family: "Jost";
                        }
                    }
                    .main-text {
                        margin-top:3px;
                    }
                    .date {
                        color:rgb(167, 167, 167);
                    }
                }
            }
            form {
                padding-bottom: 50px;

                .txt  {
                    font-size: 15px;
                    width: 94%;
                    overflow: auto;
                    height: 150px;
                    border-radius: 5px;
                    font-family: "Manrope";
                    border: 1px solid gray;
                    outline-color: none;
                    background: #22211d;
                    color:white;
                    padding: 20px;
                    padding-left: 25px;
                    padding-right: 25px;
                }
                textarea::placeholder {
                    color:rgb(175, 175, 175);
                    font-size: 14px;
        
                }
                textarea:focus {
                    outline-color: gray;
                    outline: 1.4px solid gray;
                }
                ::-webkit-scrollbar {
                    width: 10px;
                    border-radius: 30px;
                  }
                  
                  ::-webkit-scrollbar-track {
                    background: #6b6a6a;
                    border-radius: 10px;

                  }
                  
                  ::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 10px;


                  }
                  
                  ::-webkit-scrollbar-thumb:hover {
                    background: #555;
                  }
                  button {
                    border: 1px solid gray;
                    font-family: "Jost";
                    background: #22211d;
                    color:rgb(224, 224, 224);
                    font-size: 17px;
                    padding-left: 7px;
                    z-index: -1;
                    transition: 300ms;
                    right: 0;
                    bottom:0px;
                    
                  }
                }
        }
        .rules {
            display: block;
            justify-content: center;
            width: 60%;
            margin-top: 20px;
            margin-left: 10%;
            font-family: "Manrope";
            text-align: justify;
            span {
                color:white;
                font-style: italic;
            }
        }
        .create {
            text-align: center;
            margin-bottom: 15px;
            input {
                width: 400px;
                border-radius: 50px;
                padding: 5px;
                padding-left: 20px;
                font-family: "Manrope";
                border: 1px solid gray;
                outline-color: none;
                background: #22211d;
                color:white;
                
            }
            input::placeholder {
                color:rgb(175, 175, 175);
    
            }
            input:focus {
                outline-color: gray;
                outline: 1.4px solid gray;
            }   
        }
        
        .blocks {
            display: block;
            text-align: center;
            margin-bottom: 100px;
            .block {
                width: 72vh;
                border-radius: 30px;
                padding: 10px;
                padding-left: 50px;
                padding-right: 40px;
                margin-bottom: 30px;
                background-color: #353738;
                box-shadow: rgba(206, 190, 201, 0.418) 0px 5px;
                a {
                    text-decoration: none;
                }

                .user {
                    font-size: 13px;
                    margin-bottom: 0px;

                }

                .title {
                    padding-top: 10px;
                    color:rgb(221, 221, 221);
                    margin-top: 12px;
                    margin-bottom: 0;
                    text-align: justify;
                    transition: 300ms;

                }
                .title:hover {
                    transform: scale(1.01);
                }
                .main-b {
                    font-size: 14px;
                    color:rgb(194, 194, 194);
                    margin-top: 5px;
                    margin-bottom: 0;
                    height: auto;
                    text-align: justify;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* Ограничение на 3 строки */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .m {
                    display: flex;
                    .date {
                        color:rgb(155, 154, 154);
                        font-size: 14px;
                        margin-right: 20px;
                    }
                    .tag {
                        color:rgb(155, 154, 154);
                        font-size: 14px;
                    }

                    
                }
                .type {
                    margin-top: 0;
                    color:rgb(245, 245, 245);
                    font-size: 15px;
                    text-align: right;
                }

            }
        }
    }
    .pagination {
        padding-bottom: 100px;
    }
}